::selection {
background: #beff99;
color: #000;
}
/* ForFirefox */
::-moz-selection {
background: #beff99;
color: #000;
}
body {
  background-color: #FFF;
  font-family: 'Ropa Sans', sans-serif, 'Yu Gothic', YuGothic, Noto Sans Japanese, Arial, '游ゴシック', 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;

}
.wrap {
  font-size: 15px;
  letter-spacing: .08em;
  line-height: 2;
}

/* HEADER
=======================================*/
.main_v {
  width: 100%;
  box-sizing:border-box;
}
/* loopslider */
.sliderWrap {
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.slider ul {
  height: 400px;
  float: left;
  overflow: hidden;
}
.slider ul li {
  display: inline;
  width: 400px;
  height: 400px;
  float: left;
  overflow: hidden;
}
.slider img {
  width: auto;
  height: 400px;
}
/* ClearFixElements */
.sliderWrap:after {
  content: "";
  display: none;
  clear: none;
}
/* PROSPECTS */
div.prospects {
  margin: 0 10.8em;
}
h1 {
  padding-top: .7em;
  font-size: 4.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.prospects p {
  font-size: 1.3em;
  letter-spacing: .09em;
}

/* PROFILE
=======================================*/
section.profile {
  margin-top: -3.5em;
}
.thumbnail-area {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 8em;
}
.thumbnail-area img {
  max-width: initial;
  width: auto;
  height: 21.5em;
  position: absolute;
  top: 115px;
  left: 121px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.lang {
  padding: 11em 10.8em 5em;
  background: #f6f6f6;
}
div.lang label {
  position: relative;
  top: -2em;
  left: 94%;
}
div.en_ja {
  letter-spacing: .1em;
}
.en_ja *[lang="en"] {
  text-align: center;
}
.en_ja *[lang="ja"] {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
  letter-spacing: 0;
}
#language {
  display: none;
}
#language + label::before {
  content: 'EN';
  display: inline-block;
  width: 1.2em;
  height: 2em;
  text-align: center;
  border-bottom: 1px solid black;
  position: absolute;
  top: -0.5em;
  left: -1.2em;
  cursor: pointer;
  transition: color .4s ease-out;
}
#language + label::after {
  content: 'JA';
  padding-bottom: .38em;
  color: #CCC;
  transition: color .4s ease-out;
}
#language:checked + label::before {
  color: #CCC;
  border-bottom: 0px solid black;
  transition: color .4s ease-out;
}
#language:checked + label::after {
  color: black;
  border-bottom: 1px solid black;
  transition: color .4s ease-out;
}
#language:not(:checked) + label + .en_ja *[lang="ja"], #language:checked + label + .en_ja *[lang="en"] {
  display: none;
}
.lang-bottom-img {
  text-align: center;
  position: relative;
  top: -2em;
  -webkit-animation-name:fuwafuwa;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  /*-webkit-animation-direction:alternate;*/
  -webkit-animation-timing-function:ease;
  -moz-animation-name:fuwafuwa;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  /*-moz-animation-direction:alternate;*/
  -moz-animation-timing-function:ease;
  opacity: 0.8;
}
img.obj-dia {
  width: 2.3em;
}
/* AnimationFuwaFuwa */
@-webkit-keyframes fuwafuwa {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}
}

/* CAREER
=======================================*/
section.career {
  display: flex;
  margin: 0 10.8em;
}
h2 {
  padding: .5em 0;
  font-size: 2.6666em;
  font-weight: normal;
  text-transform: uppercase;
}
div.career-tool {
  margin-left: 1em;
  margin-right: auto;
  width: 100%;
}
div.career-career {
  margin-left: 5em;
  width: 100%;
}
div.career-inner {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
  letter-spacing: 0;
}
div.career-inner p {
  display: flex;
}
div.career-inner span {
  display: block;
  margin-left: .7em;
  width: fit-content;
}
.career-inner p span.p-last {
  margin-left: .2em;
  padding-top: 2em;
}

/* WORKS
=======================================*/
section.works {
  width: 100%;
  margin-bottom: 1.7em;
  margin-top: 5em;
  padding: 0 11em;
  height: auto;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(#8641c1, #ffa67b);
  background: -o-linear-gradient(#8641c1, #ffa67b);
  background: linear-gradient(#8641c1, #ffa67b);
}
h3 {
  padding: 1.3em 0 .3em;
  color: #FFF;
  font-size: 4em;
  font-weight: normal;
  text-transform: uppercase;
}
ul.works-inner {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
  color: #FFF;
  font-size: 0;
  letter-spacing: 0;
}
.works-inner li {
  display: inline-block;
  margin-right: 8.9%;
  margin-bottom: 7%;
  width: auto;
  height: 201px;
  vertical-align: top;
  font-size: 15px;
}
.works-inner li:last-child {
  margin-right: 0;
}
.works-inner label {
  display: block;
  width: 13.4em;
  height: 13.4em;
  background: #CCC;
  background-repeat: no-repeat;
  cursor: pointer;
}
.works-inner label::before {
  display: block;
  content: '';
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: .4s
}
.works-inner label:hover::before {
  background-color: unset;
}
.works-inner label.link1 {
  background-image: url(../../img/gregory.jpg);
  background-size: 225%;
  background-position: -7.7em -1.7em;
}
.works-inner label.link2 {
  background-image: url(../../img/goldengoose_men.jpg);
  background-size: 115%;
  background-position: -.7em -13em;
}
.works-inner label.link3 {
  background-image: url(../../img/tkg_html_mail.jpg);
  background-size: 300%;
  background-position: -7em -77em;
}
.works-inner label.link4 {
  background-image: url(../../img/tkg_lp.png);
  background-size: 286%;
  background-position: -12em -2em;
}
.works-inner li p {
  margin-top: 1em;
  font-size: .8em;
  letter-spacing: .08em;
}
p.works-text {
  margin-right: 5em;
  padding: 3.5em 0 1em;
  color: #FFF;
  text-align: right;
  font-size: .8em;
  font-style: oblique;
}

/* FOOTER
=======================================*/
footer.foot-contents {
  margin: 0 10.8em;
  text-transform: uppercase;
  font-size: 15px;
}
nav.footNav {
  margin-right: auto;
  width: 100%;
}
ul.acclist li {
  display: inline-block;
}
.foot-contents span {
  display: block;
  padding-right: 1%;
  width: 100%;
  text-align: right;
}

/*=======================================
  RESPONSIVE
=======================================*/
/*大きい時*/
@media (min-width: 768px) {
  .pc-none {
    display: none;
  }
  .career-tool p.tool-inner-sp {
    display: none;
  }
  footer.foot-contents {
    display: flex;
    margin-bottom: 1.5em;
  }
  .foot-contents ul.acclist li {
    margin-right: 1em;
  }
  .foot-contents ul.acclist li:last-child {
    margin-right: 0;
  }
  .foot-contents span {
    padding-right: 1%;
  }
}
/*小きい時*/
@media (max-width: 767px) {
  .wrap {
    font-size: 10px;
    letter-spacing: .19em;
  }
  .sliderWrap {
    height: 300px;
  }
  .slider {
    height: 300px;
  }
  .slider ul {
    height: 300px;
  }
  .slider ul li {
    width: 300px;
    height: 300px;
  }
  .slider img {
    height: 300px;
  }
  div.prospects {
    margin: 0px 7%;
  }
  h1 {
    font-size: 5em;
    line-height: 1;
  }
  .prospects p {
    margin-top: 1.5em;
    font-size: 1.6em;
    line-height: 1.6em;
  }
  section.profile {
    margin-top: -2em;
    margin-bottom: -1em;
  }
  .thumbnail-area {
    width: 10em;
    height: 10em;
    top: 5em;
  }
  .thumbnail-area img {
    height: 13em;
    top: 4.5em;
    left: 5em;
  }
  div.lang {
    padding: 6em 7% 5em;
    letter-spacing: .09em;
  }
  div.lang label {
    left: 88%;
  }
  section.career {
    display: block;
    margin: 0 10%;
  }
  h2 {
    padding: 0;
    letter-spacing: .09em;
  }
  div.career-tool {
    margin-left: 0;
  }
  .career-tool ul.tool-inner {
    display: none;
    letter-spacing: .1em;
  }
  div.career-career {
    margin-top: 2.5em;
    margin-left: 0;
  }
  div.career-career p {
    letter-spacing: .1em;
  }
  section.works {
    margin-top: 4.5em;
    margin-bottom: 1em;
    padding: 0 10%;
    text-align: center;
  }
  h3 {
    padding: .5em 0 0;
    text-align: left;
    letter-spacing: .09em;
  }
  .works-inner li {
    margin: 0 auto;
    margin-bottom: 3%;
    height: auto;
    font-size: 10px;
  }
  .works-inner label {
    width: 12.5em;
    height: 12.5em;
  }
  .works-inner label.link1 {
    background-position: -7em -1.7em;
  }
  .works-inner label.link2 {
    background-position: -.7em -11.5em;
  }
  .works-inner label.link3 {
    background-position: -7em -71em;
  }
  .works-inner label.link4 {
    background-position: -11em -2em;
  }
  .works-inner li p {
    margin-top: .1em;
    line-height: 1.4;
    text-align: left;
  }
  .works-inner li:nth-child(2n-1) {
    margin-right: 12%;
    margin-bottom: 0;
  }
  p.works-text {
    padding: 1.5em 0 1em;
    font-size: .5em;
    width: 100%;
    line-height: 1.3em;
    letter-spacing: 0;
  }
  footer.foot-contents {
    margin: 0 2em;
    padding: .6em 0;
  }
  .foot-contents ul.acclist {
    margin: 0 auto;
    text-align: center;
  }
  .foot-contents ul.acclist li {
    margin: 0 1.5%;
    text-align: center;
  }
  ul.acclist {
    line-height: 1.4;
  }
  ul.acclist li {
  }
  .foot-contents {
    margin: 0 2em;
  }
  .foot-contents span {
    margin: 0 auto;
    padding-top: .7em;
    padding-right: 0;
    font-size: .8em;
    text-align: center;
}
/*小きい時*/
@media (max-width: 320px) {
  .works-inner label {
    width: 12em;
    height: 12em;
  }
  .works-inner li:nth-child(2n-1) {
    margin-right: 6%;
  }
}
