::selection {
background: #beff99;
color: #000;
}
/* ForFirefox */
::-moz-selection {
background: #beff99;
color: #000;
}
body {
  background-color: #FFF;
  font-family: 'Ropa Sans', sans-serif, 'Yu Gothic', YuGothic, Noto Sans Japanese, Arial, '游ゴシック', 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;

}
.wrap {
  font-size: 15px;
  letter-spacing: .08em;
  line-height: 2;
}

/* HEADER
=======================================*/
.main_v {
  width: 100%;
  box-sizing:border-box;
}
/* loopslider */
.sliderWrap {
  height: 26.666em;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.slider {
  margin: 0 auto;
  width: 100%;
  height: 26.666em;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.slider ul {
  height: 26.666em;
  float: left;
  overflow: hidden;
}
.slider ul li {
  display: inline;
  width: 26.666em;
  height: 26.666em;
  float: left;
  overflow: hidden;
}
.slider img {
  width: auto;
  height: 26.666em;
}
/* ClearFixElements */
.sliderWrap:after {
  content: "";
  display: none;
  clear: none;
}
/* PROSPECTS */
div.prospects {
  margin: 0 10%;
}
h1 {
  padding: 1.2em 0 .3em;
  font-size: 4.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1;
}
.prospects p {
  font-size: 1.3em;
  letter-spacing: .09em;
}

/* PROFILE
=======================================*/
section.profile {
  margin-top: -3.5em;
}
.thumbnail-area {
  margin: 0 auto;
  width: 17em;
  height: 17em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 8em;
}
.thumbnail-area img {
  max-width: initial;
  width: auto;
  height: 21.5em;
  position: absolute;
  top: 115px;
  left: 121px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.lang {
  padding: 11em 10% 5.5em;
  background: #f6f6f6;
}
div.lang label {
  position: relative;
  top: -2em;
  left: 94%;
}
div.en_ja {
  letter-spacing: .1em;
}
.en_ja *[lang="e"] {
  /* text-align: center; */
}
.en_ja *[lang="ja"] {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
  letter-spacing: 0;
}
#language {
  display: none;
}
#language + label::before {
  content: 'EN';
  display: inline-block;
  width: 1.2em;
  height: 2em;
  text-align: center;
  border-bottom: 1px solid black;
  position: absolute;
  top: -0.5em;
  left: -1.2em;
  cursor: pointer;
  transition: color .4s ease-out;
}
#language + label::after {
  content: 'JA';
  padding-bottom: .38em;
  color: #CCC;
  transition: color .4s ease-out;
}
#language:checked + label::before {
  color: #CCC;
  border-bottom: 0px solid black;
  transition: color .4s ease-out;
}
#language:checked + label::after {
  color: black;
  border-bottom: 1px solid black;
  transition: color .4s ease-out;
}
#language:not(:checked) + label + .en_ja *[lang="ja"], #language:checked + label + .en_ja *[lang="en"] {
  display: none;
}
.lang-bottom-img {
  text-align: center;
  position: relative;
  top: -2em;
  -webkit-animation-name:fuwafuwa;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  /*-webkit-animation-direction:alternate;*/
  -webkit-animation-timing-function:ease;
  -moz-animation-name:fuwafuwa;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  /*-moz-animation-direction:alternate;*/
  -moz-animation-timing-function:ease;
  opacity: 0.8;
}
img.obj-dia {
  width: 2.3em;
}
/* AnimationFuwaFuwa */
@-webkit-keyframes fuwafuwa {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}
}

/* CAREER
=======================================*/
section.career {
  display: flex;
  margin: 0 10%;
}
h2 {
  padding: .5em 0;
  font-size: 2.6666em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .08em;
}
div.career-tool {
  margin-left: 1em;
  margin-right: auto;
  width: 100%;
}
div.career-career {
  margin-left: 5em;
  width: 100%;
}
div.career-inner {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
  letter-spacing: 0;
}
div.career-inner p {
  display: flex;
}
div.career-inner span {
  display: block;
  margin-left: .7em;
  width: fit-content;
}
.career-inner p span.p-last {
  margin-left: .2em;
  padding-top: 2em;
}

/* WORKS
=======================================*/
section.works {
  width: 100%;
  margin-bottom: 1.7em;
  margin-top: 5em;
  padding: 0 8%;
  height: auto;
  background: -webkit-linear-gradient(#8641c1, #ffa67b);
  background: -o-linear-gradient(#8641c1, #ffa67b);
  background: linear-gradient(#8641c1, #ffa67b);
}
.works-ttl-area {
  padding-top: 2.5em;
}
h3 {
  margin: 0 3.5%;
  color: #FFF;
  font-size: 4em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .09em;
}
ul.works-inner {
  display: flex;
  font-family: '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic, sans-serif;
  color: #FFF;
  font-size: 0;
  letter-spacing: 0;
}
.works-inner li {
  margin: 0 1%;
  width: 98%;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 15px;
}
.works-inner label {
  display: block;
  margin: 0 auto;
  max-width: 15em;
  height: 15em;
  background: #CCC;
  background-repeat: no-repeat;
  cursor: pointer;
}
.works-inner label::before {
  display: block;
  content: '';
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: .4s
}
.works-inner label:hover::before {
  background-color: unset;
}
.works-inner label.link1 {
  background-image: url(../../img/gregory.jpg);
  background-size: 225%;
  background-position: -8.6em -1em;
}
.works-inner label.link2 {
  background-image: url(../../img/goldengoose_men.jpg);
  background-size: 110%;
  background-position: -.5em -13em;
}
.works-inner label.link3 {
  background-image: url(../../img/tkg_html_mail.jpg);
  background-size: 300%;
  background-position: -7em -89em;
}
.works-inner label.link4 {
  background-image: url(../../img/tkg_lp.png);
  background-size: 286%;
  background-position: -13.6em -2.5em;
}
.works-inner li p {
  width: fit-content;
  margin-top: 1em;
  font-size: 12px;
  letter-spacing: .08em;
}
p.works-text {
  margin-right: 4%;
  padding: 10em 0 1em;
  color: #FFF;
  text-align: right;
  font-size: .8em;
  font-style: oblique;
}

/* FOOTER
=======================================*/
footer.foot-contents {
  margin: 0 10%;
  text-transform: uppercase;
  font-size: 15px;
}
nav.footNav {
  margin-right: auto;
  width: 100%;
}
ul.acclist li {
  display: inline-block;
}
ul.acclist li:hover {
  border-bottom: 1px solid;
}
ul.acclist li a {
  display: block;
  height: 100%;
}
.foot-contents span {
  display: block;
  padding-right: 1%;
  width: 100%;
  text-align: right;
}


/*=======================================
  RESPONSIVE
=======================================*/
/*大きい時*/
@media screen and (max-width: 813px) {
  .pc-none {
    display: none;
  }
  h1 {
    font-size: 3.5em;
  }
  div.lang label {
    left: 89%;
  }
  h2 {
    padding: 0;
  }
  .career-tool p.tool-inner-sp {
    display: none;
  }
  ul.tool-inner {
    font-size: .8em;
  }
  div.career-career {
    margin-left: 3em;
  }
  div.career-inner {
    font-size: .8em;
  }
  .works-inner label {
    max-width: 13em;
    height: 10em;
  }
  .works-inner label.link1 {
    background-position: -5.6em -1em;
  }
  .works-inner label.link2 {
    background-position: -.5em -9em;
  }
  .works-inner label.link3 {
    background-position: -5em -59em;
  }
  .works-inner label.link4 {
    background-position: -9em -1.5em;
  }
  .works-inner li p {
    font-size: 11px;
  }
  p.works-text {
    margin: 0;
    padding: 8em 0 1em;
  }
  footer.foot-contents {
    display: block;
    margin-bottom: .5em;
    text-align: center;
  }
  .foot-contents ul.acclist {
    margin-bottom: .8em;
  }
  .foot-contents ul.acclist li {
    margin-right: 1em;
  }
  .foot-contents ul.acclist li:last-child {
    margin-right: 0;
  }
  .foot-contents span {
    padding-right: 0;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .pc-none {
    display: none;
  }
  .for-pad {
    display: none;
  }
  .career-tool p.tool-inner-sp {
    display: none;
  }
  footer.foot-contents {
    display: flex;
    margin-bottom: 1.5em;
  }
  .foot-contents ul.acclist li {
    margin-right: 1em;
  }
  .foot-contents ul.acclist li:last-child {
    margin-right: 0;
  }
}
/*小きい時*/
@media screen and (max-width: 414px) {
  .pc-none {
    display: block;
  }
  .for-pad {
    display: none;
  }
  .sliderWrap {
    height: 13em;
  }
  .slider {
    height: 13em;
  }
  .slider ul {
    height: 13em;
  }
  .slider ul li {
    width: 13em;
    height: 13em;
  }
  .slider img {
    height: 13em;
  }
  h1 {
    font-size: 3.5em;
    letter-spacing: 0.03em;
  }
  .prospects p {
    font-size: 1em;
  }
  section.profile {
    margin-top: 0;
  }
  .thumbnail-area {
    width: 7em;
    height: 7em;
    top: 3.5em;
    }
  .thumbnail-area img {
    height: 9.2em;
    top: 47px;
    left: 52px;
  }
  div.lang {
    padding: 6em 10% 5.5em;
    font-size: .9em;
  }
  div.lang label {
    top: -1em;
    left: 83%;
  }
  .lang-bottom-img {
    top: -1.6em;
  }
  img.obj-dia {
    width: 2em;
  }
  section.career {
    display: block;
  }
  h2 {
    padding: 0;
  }
  ul.tool-inner {
    display: none;
  }
  .career-tool p.tool-inner-sp {
    display: block;
  }
  div.career-career {
    margin-top: 3em;
    margin-left: 1em;
  }
  div.career-inner {
    font-size: .8em;
  }
  section.works {
    margin-top: 4.5em;
    margin-bottom: 1.2em;
    padding: 0 10%;
  }
  h3 {
    margin: 0;
  }
  ul.works-inner {
    display: block;
  }
  .works-inner li {
    display: inline-block;
    /* margin: 0 2%;
    width: 98%; */
  }
  .works-inner label {
    /* max-width: 9em;
    height: 9em; */
  }
  .works-inner label.link1 {
    background-position: -5em -1em;
  }
  .works-inner label.link2 {
    background-position: -.1em -7em;
  }
  .works-inner label.link3 {
    background-position: -4em -51em;
  }
  .works-inner label.link4 {
    background-position: -8em -1.3em;
  }
  .works-inner li p {
    font-size: .6em;
  }
  p.works-text {
    margin: 0 auto;
    padding: 9em 0 1em;
    font-size: .5em;
  }
  footer.foot-contents {
    display: block;
    letter-spacing: .13em;
  }
  .foot-contents ul.acclist {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: .5em;
  }
  .foot-contents ul.acclist li {
    margin-right: 0;
    padding: 0 .4em;
  }
  .foot-contents span {
    text-align: center;
  }
}
/* @media screen and (max-width: 812px) {

/*小きい時*/
@media screen and (max-width: 320px) {
  .works-inner label {
    width: 12em;
    height: 12em;
  }
  .works-inner li:nth-child(2n-1) {
    margin-right: 6%;
  }
}
