/*
  MODAL
=======================================*/
.modal .modal-inner {
  font-family: 'Ropa Sans', '游ゴシック', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Hiragino Kaku Gothic Pro, 'ＭＳ Ｐゴシック', MS PGothic;
}

.modal .modal-check {
  display: none;
}
.modal .modal-body {
  display: none;
}
.modal .modal-window {
  position: relative;
  z-index: 100001;
  animation: fadeout .4s 1 forwards, zoomout .4s 1 forwards;
}
.modal .modal-label {
  display: flex;
  padding: 0 .5em;
  width: 40px;
  height: 40px;
  color: #FFF;
  font-size: 1.5em;
  background: #099;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;
  position: absolute;
  top: -20px;
  right: 5px;
}
.modal .modal-label:hover {
  opacity: 1;
  background: #00cccc;
}
.modal .modal-label:active {
  background: cyan;
}
.modal .modal-inner {
  display: flex;
  width: 85vw;
  max-width: 800px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}
div.modal-image {
  margin: 20px;
  height: 64vh;
  max-height: 520px;
  overflow: scroll;
}
.modal .modal-content {
  padding-top: 3.5em;
}
.modal .modal-content dt {
  font-size: 1em;
}
.modal .modal-content dd {
  margin-top: -4px;
}
.modal .modal-content dd:last-child {
  padding: 2em 0 0 .3em;
}
.modal .modal-content dd p {
  width: 90%;
}
.modal .modal-content dd span {
  display: block;
  font-size: .8em;
}
.modal .modal-check:checked + .modal-body {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  animation: fadein .4s 1 forwards;
}
.modal .modal-check:checked + .modal-body .modal-window {
  animation: zoomin .4s 1 forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomout {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/*=======================================
  RESPONSIVE
=======================================*/
/*大きい時*/
@media (min-width: 768px) {
}

/*小きい時*/
@media (max-width: 767px) {
  .modal .modal-content dt {
    font-size: 1.2em;
    width: 40vw;
  }
  div.works-caption h3 {
    padding-top: 1.7em;
  }
  .modal .modal-content {
    font-size: .5em;
  }
  .modal .modal-label {
    padding: .17em 0.7em 0;
    font-size: 1.2em;
  }
  div.modal-image {
    margin: 1em;
    height: 54vh;
  }
  .modal .modal-content dd:last-child {
    padding: 1.5em 0 0 .3em;
  }
}
@media (max-width: 320px) {
  .modal .modal-content {
    padding-top: 2em;
  }
  .modal .modal-content dd {
    line-height: 1.7em;
  }
  div.modal-image {
    margin: 0.7em;
  }
  .modal .modal-content dd p {
    width: 95%;
  }
}
