section.content-wrap {
  width: 100%;
  height: auto;
  background-color: #fafafa;
}
section.content-wrap h3 {
  padding: 0 0.5em;
  color: #efefef;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 6px;
  background: transparent;
  border-left: solid 6px #eaeaea;
}
div.content-career {
  display: flex;
}
div.j-text {
  padding: 15px 0;
  width: 55%;
  border-left: solid 6px #eaeaea;
}
div.j-text p {
  padding: 0 8%;
  font-size: 14px;
}
div.content-career h4 {
  margin-left: 10px;
  color: #999;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 2px;
}
div.career-wrap {
  background-color: #fafafa;
}
div.job,.career,.skill {
  margin-bottom: 15px;
  font-size: 14px;
}
.career-inner,.job-inner,.skill-inner {
  width: 95%;
  border-top: 1px solid #eaeaea;
  //background-color: rgba(255,255,255,0.7);
}
table.career-inner {
  padding: 4px 6px;
  border-collapse: unset;
}
table.career-inner td {
  height: 25px;
}
table.career-inner th {
  font-weight: normal;
}
table.career-inner td {
  padding-left: 3%;
}


.cell {
  padding: 0;
}
.overview {
  margin-bottom: 6px;
  color: #999;
  font-size: 13px;
  line-height: 14px;
}
dl.job-inner {
  padding: 3px 6px;
}
ul.skill-inner {
  padding: 3px 15px;
  list-style: square;
}
ul.skill-inner li {
  font-size: 14px;
  list-style-position: inside;
}

section.photo {
  display: flex;
  margin-top: 30px;
  max-width: 1090px;
  flex-wrap: wrap;
}
div.photo-caption {
  width: 450px;
  height: 300px;
  position: relative;
}
div.photo-caption h3 {
  color: #bbb;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}
section.photo img {
  margin-bottom: 5px;
  object-fit: cover;
}
img.photo-1 {
  margin-left: auto;
  width: 580px;
  height: 300px;
}
img.photo-2 {
  margin-top: 25px;
  margin-right: auto;
  width: 600px;
  height: 600px;
}
img.photo-3 {
  height: 300px;
}
section.content-wrap2 {
  height: auto;
}

div.wrap2-container {
  display: flex;
}

div.wrap2-container img {
  width: 100%;
}
.content-box {
  margin: 0 0 0 auto;
  width: 55%;
}
.content-box h3 {
  margin-left: 40px;
  padding-left: 2%;
  width: auto;
  color: #999;
  background: #FFF;
  border: 1px solid #ccc;
  font-weight: normal;
  letter-spacing: 2px;
}
.content-box h4 {
  margin-left: 10%;
  color: #efefef;
  font-family: 'Hannari';
  font-size: 70px;
  font-weight: normal;
  letter-spacing: 11px;
  writing-mode: tb-rl;
}
.content-box ul {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.content-box li {
  width: 21.5%;
  height: 165px;
  text-align: center;
  background-color: #FFF;
}
ul.f-list>li:nth-child(n-4) {
  margin: 3% auto;
  box-shadow:4px 5px 11px -6px #ccc;
}
ul.f-list>li:nth-child(4n-3) {
  background-color: transparent;
  box-shadow: none;
}
.content-box a {
  display: block;
  padding-top: 13%;
  height: 100%;
  color: #005588;
  font-size: 12px;
  position: relative;
}
.content-box img {
  vertical-align: bottom;
  transition: .3s ease-in-out;
}
.content-box a:hover img {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
ul.f-list p {
  width: 100%;
  position: absolute;
  bottom: 10px;
}





@media/*大きい時*/ (min-width: 876px) {
  section.content-wrap {
    margin: 0 auto;
  }
  div.content-career {
    display: flex;
  }
  div.j-text {
    width: 80%;
  }
  div.content-box img {
    max-width: 60%;
  }
  div.side-visual_1 {
    width: 13%;
    background: #FFF url('../../img/side1.jpg')  no-repeat 63% bottom;
    background-size: cover;
  }
  div.side-visual_2 {
    width: 20%;
    margin-left: 3px;
    background: #FFF url('../../img/side-visual.jpg')  no-repeat 42% bottom;
    background-size: cover;
  }
  div.side-visual_3 {
    width: 8%;
    margin-left: 3px;
    background: #FFF url('../../img/side3.jpg')  no-repeat 60% bottom;
    background-size: cover;
  }
}

@media/*小きい時*/ (max-width: 875px) {
  section.content-wrap {
    margin-top: 60px;
  }
  div.career-wrap {
    padding: 0;
  }
  div.career-wrap h3 {
    padding: 5% 10%;
  }
  div.j-text {
    width: 100%;
  }
  div.content-box {
    width: 60%;
  }
  .content-box h3 {
   margin-left: 20px;
  }
  section.content-box li {
    width: 22.5%;
  }
  section.content-box h4 {
    font-size: 60px;
    margin-left: -5%;
  }
  section.content-box img {
    max-width: 60%;
  }
}
@media/*小きい時*/ (max-width: 470px) {
  div.content-career {
    display: block;
  }
  div.j-text {
    width: 100%;
    margin-bottom: 10px;
  }
  section.content-box h4 {
    //font-size: 30px;
    margin-left: -10%;
  }
  section.content-box img {
    //max-width: 100%;
  }
}
